<head>
	<link rel="stylesheet" type="text/css" href="/css/classes.css">
</head>




<div class="contained_a">

	<div class = "float">
		<table style="width:100%">
			<tr>
				<th>Name</th>
				<td>Amaterasu</td>
			</tr>
			<tr>
				<th>Type</th>
				<td>Monster</td>
			</tr>
			<tr>
				<th>Element</th>
				<td>Light</td>
			</tr>
			<tr>
				<th>Rarity</th>
				<td>UR</td>
			</tr>
			<tr>
				<th>Cost</th>
				<td>30</td>
			</tr>
			</tr>
				<th></th>
				<td></td>
			</tr>

		</table>




	</div>










	<div class = "float"><img src="/img/ama.png"/></div>

</div>
	

