
<head>
	<link rel="stylesheet" type="text/css" href="/css/classes.css">
</head>

<div class = "contained">

	<div class="float"> <a href="cleric" ><img src="/img/cleric.png"/></a></div>
	<div class="float"> <a href="mage"> <img src="/img/mage.png"/>   </a></div>
	<div class="float"> <a href="soldier" ><img src="/img/soldier.png"/></a></div>
	<div class="float"> <a href="lancer"> <img src="/img/lancer.png"/> </a></div>
	<div class="float"> <a href="archer"> <img src="/img/archer.png"/> </a></div>
</div>


