<head>
	<link rel="stylesheet" type="text/css" href="/css/classes.css">
</head>




<div class="contained_a">

	<div class = "ama_icon"><a href="ama"><img src="/img/ama_icon.png"/></a></div>
</div>
	


