div.contained {
    text-align:center; /* center everything in the container */
}

div.float { /* not really float any more so best to rename this */
    display:inline-block; /* so the children on the same line */
    
}

div.contained_a{
	text-align:center;
}

div.ama_icon{
	display:inline-block;
	padding:10px;
}


div.ama{
	display:inline-block;
	padding: 0px 1000px;
}



table, th, td {

    border-collapse: collapse;
}
th, td {
    padding: 4px 10px;
    text-align: left;    
}